*{
    border:0px;
    border: border-box;
    margin:0px;
    font-style: arial;

}
.nav-container{
    height: 60px;
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    
    height:60px;
    width:111px;

}
.logo{
    /* padding-bottom: 14px; */
    height: 52px;
    width:100%;
    background-image:url(amazonLogo.jpeg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:3px solid white;

}
.address{
    /* border:3px solid transparent; */
    height:48px;
    width:85px;
    padding-left: 3px;
    padding-top:7px;

}
.country{
    display:flex;
    /* font-size: ;*/
    font-size: 17px;
    
} 
.delivertotxt{
    
    font-size: 12px;
}
.searching{
    display: flex;
    height:60px;
    width:935px;
    align-items:center;
    


}
.searchbar:hover{
    border:3.5px solid rgb(247, 218, 0);
}
.selecting{
    
    height:45px;
    width:52px;
    font-size:14px;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon{
    height:45px;
    width:52px;
    border:none;
    background-color: #c5bc5f;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchbar{
    width:100%;
    height: 43px;
    font-size: 19px;

    border:none;
}
.langselector{
    display:flex;
    align-items:center;
    height:45px;
    width: 46px;
}
/* p{
    margin:0px;
    border:0px;
} */
.signin{
    
    /* display:flex;
    flex-direction:column;
    align-items:center;  */
    #leftalign{
        text-align:left;
    }
    /* padding-top: 1rem; */
}
.signinalign{
    height:58px;
    width:118px;
    display: flex;
    align-items:center;
}
#signinfont{
    font-size:1rem;

}

.returnsalignment{
    height:58px;
    width:75px;
    display:flex;
    align-items:center;
    

}
span{
    font-size:0.8rem;
    text-align:left;
}
.cartbox{
        height:50px;
        width:85px;
        display:flex;
        align-items: center;

}
.carticon{
    font-size:1.8rem;
    
}
.carttxt{
    display:flex;
    /* align-items:flex-end;    */

}
/* panel */
.panel{
    
    display: flex;
    align-items: center;
    height:40px;
    width:100%;
    background-color: #0F1111;


    

}
.panel-menu{
    display:flex;
    color:aliceblue;
}
.panel-txt{
    text-decoration: none;
    color:aliceblue;
    margin-left:22px;
    font-size: 16px;


}
.herosection{
    height:100%;
    width:100%;
    background-color:#e3e6e6;   
    background-image:url(herosection.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content:space-evenly;
    padding-top:20%;

}

.box{
    height:30%;
    width:21.16%;
    background-color:aliceblue;
    padding:1.3%;
    padding-left:1%;
    padding-right:1%;

    font-size: 1.2rem;
    font-weight: 700;
    /* border:2px solid black; */

}
.pro1-grid1{
    display:flex;
    height:70%;
    width:100%;
    justify-content: space-between;
    margin-bottom: 3.8%;


}
.decosub1{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
}
.decosub2{

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
}
.pro1-grid2{
    display:flex;
    height:40%;
    width:100%;
    margin-bottom:9.5px;


}
.decosub3{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
}
.decosub4{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.85rem;
}

.pro{
    height:107px;
    width:160px;
    margin-right:6.5px;
    background-size: cover;
    background-position: center;
    
    

}
#boxanchortag {
    font-size: 1rem;
    font-weight:450;
    color:rgba(35, 85, 139, 0.946);;
    text-decoration:none;
}
/* for checking height of box */
/* #check{
    margin-top:10px;
    height:200px;
    width:200px;
    background-color: black;
} */

.gameproimg{
    height:345px;
    width:320px;

    background-image: url('gameproduct.jpg');
    background-size:cover;
    background-position:center;
    margin-top: 5px;



    
}
.shopgaming{
    font-size: 1rem;
    font-weight:450;
    color:rgba(35, 85, 139, 0.946);
    text-decoration:none;
}

.matspro{
    height:345px;
    width:320px;
    background-size:cover;
    background-position:center;
    margin-top: 5px;
}
.a-matspro{
    font-size: 1rem;
    font-weight:450;
    color:rgba(35, 85, 139, 0.946);;
    text-decoration:none;
}
.ma1{
    height:345px;
    width:320px;
    background-size:cover;
    background-position:center;
    margin-top: 5px;
}
.a-ma{
    font-size: 1rem;
    font-weight:450;
    color:rgba(35, 85, 139, 0.946);;
    text-decoration:none;
}

.rowhero2{
    padding-top: 23px;
    height:427px;
    width:vw;
    background-color: rgb(233, 229, 244);
    display:flex;
    justify-content: space-evenly;
    
    
    

}
.dabba{
    height: 375px;
    width:340px;
    background-color:aliceblue;
    
    
    padding-top: 10px;
    padding-left:6px;
    padding-right:6px;
    padding-bottom: 6px;
    
}
.procaptcha{
    font-size:1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    
    
}
.imgofpro{
    height:280px;
    width:318px;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom: 15px;


}
.dabba a{
    /* margin-top: 15px; */
    text-decoration: none;
    color: rgb(1, 109, 172);
    font-size:1rem;



}
/* fotter */
.fotter1panel{
    background-color:rgb(19, 17, 65);
    height:50px;
    width:vw;
    color:white;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 0.83rem;
    border-top:2px white solid;
}

.fotterpanel2{
    height:260px;
    width:vw;
    background-color: #0b1b2d;
    color: white;
    display:flex;
    justify-content: space-evenly;
    
}
.fotterpanel2 ul{
    margin-top:20px;
}
.amalogo{
    margin-left:265px;
    background-image: url("amazonlogo2jpg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    height:68px;
    width:90px;
}
.fotterpanel3{
    border-top:1.5px solid white;
    height:70px;
    width:vw;
    display:flex;
    color: white;
    justify-content: space-evenly;
    background-color: #0b1b2d;
    
    align-items:center; 
    

}
.fotterflag{
    display:flex;

}
.country{
    margin-right:265px;
}
.lastfotter{
   
    display:flex;
    justify-content:space-between;
}
.fotterpanel4{
    border-top :1.5px solid white;
    padding-top:14px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    height:80px;
    width:vw;
    color:white;
    background-color: #0b1b2d;
    font-size: 0.75rem;;
}



